# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Ignorar todos los archivos de la carpeta mac (Flutter/MacOS)
/macos/

# Ignorar pubspec.lock
pubspec.lock

# Ignorar todas las plataformas Flutter generadas
/windows/
/linux/
/web/
/ios/
/macos/
/android/

# Archivos específicos de plataformas Flutter generados automáticamente
**/windows/flutter/generated_plugin*
**/linux/flutter/generated_plugin*
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/web/index.html
**/web/manifest.json
**/web/flutter_service_worker.js

# Archivos de configuración de iOS generados
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/.symlinks/
/ios/Flutter/flutter_export_environment.sh

# Archivos de Android generados
/android/.gradle/
/android/captures/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/app/src/main/kotlin/

# Firebase configuration (contains sensitive API keys)
lib/firebase_options.dart